<div id="login">
	<h1>Login</h1>
	<form action="/user/process_login" method="post">
		<p>
		<label for="password_field">Password</label><br />
		<input id="password_field" name="password" size="10" type="password" />
		</p>
		<p>
		<input name="process_login" type="submit" value="Login" />
		</p>
		<input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />
	</form>
<%= link_to 'Back', posts_path %>
</div>
<br />
