<h1><%=h @category.title %></h1>

<div id="photos">
    <table>
        <% for x in (0..(@photos.length-1)/4) do %>
            <tr>
                <% for y in (0..4) do %>
                    <td>
                        <%= display_thumb @photos[x+y] %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
            
<%= link_to 'New Photo', :controller => 'photos', :action => 'new', :category => @category %><br />
<%= link_to 'Go back', :action => 'index' %>
