<b>Our Schedule</b><br>
<ul>
    <li>Jan 16: Iowa FLL Championship</li>
    <li>Jan 18: Valley Lutheran School</li>
    <li>Feb 4: 9th Grade CF Preview</li>
    <li>Feb 18: Submission date for Website, Chairman's Award, &amp Woodie Flowers Award</li>
    <li>Feb 23: Ship Date</li>
    <li>Mar 3: Leave for Kansas City Regional</li>
    <li>Mar 4-6: Kansas City Regional</li>
    <li>Mar 31: Leave for Minnesota North Star Regional</li>
    <li>Apr 1-3: Minnesota North Star Regional</li>
</ul>
