<p>Animation:  This group works on animation projects using computer
programs, creating short animations which illustrate a different FIRST
theme each year. These animations are entered in Award Competitions at
regional and national events.</p>
<p>Mentors:</p>



<p>Communication:  This group is responsible for primary communications
both in the community and schools. It works closely with other CFHS
Robotics groups on communications involving fund-raising, grant writing,
website information, media communications, and other documents or
presentations which reach a broad audience.</p>
<p>Mentors: <a href="mailto:swartleyk@cedar-falls.k12.ia.us">Kenton Swartley</a>
, <a href="mailto:jan@cfu.net">Jan Newendorp</a></p>



<p>Website/AV:  As its title declares, this group?s responsibility is
to create and promote a CFHS Robotics website, being certain to update
the site regularly and check the accuracy of information posted. In
addition to the website, members of this group are responsible for all
primary video, still, and audio documents used in this website and by
other CFHS Robotics groups.</p>
<p>Mentors:</p>


<p>Engineering:  This group draws heavily from our corporate sponsors
and parent volunteers whose expertise in fields of engineering related
to mechanical, electrical, and computer  software engineering are
invaluable (indeed, critical) to the success of the team. Engineers
provide hands-on, real-world mentoring to student members of the team.
They also lead in the design and construction of the practice and
competition robots.</p>
<p>Mentors: <a href="mailto:bcn@cfu.net">Bruce Newendorp</a>, Dick Hurban, Bob W.
Guetzlaff, Tom Ore</p>



<p>Programming:  This group is in charge of making, editing, and
updating the code that runs the robot while it's on the field. They
learn a lot of code, and take time to make sure everything works correctly.</p>
<p>Mentors: Mark Fienup, Ray Gitchell, and Neil Kruempel</p>



<p>Project Management</p>:  This group is responsible for the overall
management and oversight of the entire robotics project. Members of this
group need to be in close contact with all other team groups to
facilitate and coordinate efforts between groups, and are responsible
for establishing deadlines, creating and revising schedules, and, in
general, tying up loose ends not managed by other groups.
<p>Mentors: <a href="mailto:swartleyk@cedar-falls.k12.ia.us"> Kenton Swartley</a></p>



<p>Travel/Awards/ Volunteer Coordination*/:  This group is the ?detail?
group for the Team. It is responsible for arranging group travel,
working toward various award opportunities attendant to the FIRST
competitions, designing and manufacturing team promotional items, team
gear, team paraphernalia, keeping parents involved in the practical and
social aspects of the Team, and, in general, parenting both the
mentors and the students of the Team.</p>
<p>Mentors: <a href="mailto:jan@cfu.net">Jan Newendorp</a></p>



<p>Public Relations:  Responsibilities for this group include contact
out in the community with civic and business groups to promote CFHS
Robotics and recruit community participation. Of necessity, this group
will work closely with fundraising, but in addition will work to foster
goodwill and partnerships with groups outside the school.</p>
<p>Mentors: <a href="mailto:swartleyk@cedar-falls.k12.ia.us">Kenton Swartley</a>
, <a href="mailto:jan@cfu.net">Jan Newendorp</a></p>



<p>Fundraising:  This, of course, is an activity which must employ a
variety of approaches. This group?s responsibility includes maintaining
contact with previous sponsors and soliciting new ones. All members of
the team will be involved with fundraising, but much of the ?heavy
lifting? will be asked of parents and mentors who have contacts out in
the community. Grant writing (in conjunction with Communications), video
productions (in conjunction with Website/AV), sales opportunities (in
conjunction with Volunteer Coordination), and other avenues of
fundraising are the purview of this group.</p>
Mentors: <a href="mailto:swartleyk@cedar-falls.k12.ia.us">Kenton Swartley</a>
, <a href="mailto:jan@cfu.net">Jan Newendorp</a>



<p>Student Leaders:  Obviously, the central role of Student Leaders is
to lead. This includes shepherding underclassmen through the Robotics
program, promoting Robotics at the elementary, junior high, and high
school levels, and advocating for and involving other students in all
aspects of the Robotics Team.</p>
<p>Mentors: <a href="mailto:swartleyk@cedar-falls.k12.ia.us">Kenton Swartley</a></p>

<p>Lego League Mentors: <a href="mailto:EastonDavidJ@JohnDeere.com">David Easton</a>, <a href="mailto:jan@cfu.net">Jan Newendorp</a>,
Kenton Swartley, Bob E. Guetzlaff, Bruce Newendorp</p>

<p>National Instruments: Ray Gitchell</p>
