Kenton Swartley (coach)<br>
Cedar Falls High School<br>
319-553-2500     <a href="mailto:swartleyk@cedar-falls.k12.ia.us">
  <br>
  swartleyk@cedar-falls.k12.ia.us</a><br><br>
Michael Ore (website maintainer) <a href="mailto:selbram1993@gmail.com">
  <br>
  selbram1993@gmail.com</a><br>
