                <b>Team 525</b><br>
                <br>
                 Team 525 exemplifies the FIRST message, 
demonstrating its profound impact on high school students. It all
 began when high school physics teacher Kenton Swartley showed a 
video of a FIRST competition as an example of the application of 
physics.  After class, Mr. Swartley was approached by several 
excited students who wanted to start a robotics team.<br>
		<br>
            Expecting their enthusiasm to fade, he 
outlined the steps that would be necessary to begin, and promised 
that if they could recruit students, find mentors, and raise the 
entrance fees, he would be happy to sponsor the idea to the 
faculty and organize the team. But their enthusiasm didn't fade. 
They raised funds from small businesses and convinced engineers 
to become mentors. Parents donated everything from meals to power 
tools. Mr. Swartley fulfilled his promise and led the newly-founded 
'Swart-Dogs' to finals and a Rookie Award.<br>
		<br>
            From its humble beginnings, the team gradually changed 
the culture of the student community. Students now spend their 
nights working at the build site, trying to come up with the best 
idea to test the next morning. Students are more motivated in 
science and math classes because they have the opportunity to 
directly apply the concepts presented in the classroom.<br>
                <br>
                 Team 525 is very appreciative of our past
                sponsors and always welcomes more. The team
                anticipates costs of $11,000 for entry fees this
                coming season, not including additional parts and
                team transportation. Please contact Kenton
                Swartley if you are interested in helping sponsor
                Team 525.<br>


                <hr>
                <b>FIRST LEGO League - Junior Robotics</b><br>
                <br>
                 Several years ago, FIRST recognized a growing
                demand for a competition for younger students as
                well. To solve this, FIRST LEGO League (FLL) was
                founded. FLL, like the high school competition,
                involves teams building a robot that can compete
                in a game that changes every year. FLL teams use
                the LEGO Mindstorms kit to create their robots.
                FLL teams have the opportunity to learn concepts
                such as teamwork, programming and engineering.
                The FLL season also culminates in an exciting
                competition. Iowa's FLL regional is hosted in
                Ames, by Iowa State University. For more
                information about joining FLL, visit <a href="http://www.isufll.org/" target="_blank">
                http://www.isufll.org/</a> or email <a href="mailto:fll@iastate.edu">fll@iastate.edu</a>. 
                <hr>

                <b>How To Get Involved</b><br>
                <br>
                 Team 525 welcomes any interested student in
                grades 9-12 in Cedar Falls Schools to participate
                in the team. No special skills are needed to
                help!<br>
                <br>
                 FIRST isn't possible without the help of
                adult mentors. Team 525 welcomes any adult
                mentors from any profession! If you are
                interested, please contact:<br>
                 Kenton Swartley (coach)<br>
                 Cedar Falls High School<br>

                 319-553-2500<br>
                 Email: <a href="mailto:swartleyk@cedar-falls.k12.ia.us">
                swartleyk@cedar-falls.k12.ia.us</a> 
                <hr>
                Cedar Falls High School<br>
                 1015 Division St., Cedar Falls, IA 50613<br>
                 (319) 553-2500<br>

                 FAX (319) 277-6223 
                <hr>
