<ul>
  <li><a href="http://www.usfirst.org/">US First</a></li>
  <li><a href="http://www.chiefdelphi.com/forums/portal.php">Chief Delphi</a></li>
  <li><a href="http://www.thebluealliance.net/">The Blue Alliance</li>
</ul>
