<h2>Thanks To Our Team Partners & Sponsors!</h2>
<h3>Team Partners: Donors of $1,000 or more</h3>
<ul>
  <li>John Deere Waterloo Operations</li>
  <li>Rockwell Collins</li>
  <li>NCK Software</li>
  <li>DISTek</li>
  <li><a href="http://www.cedar-falls.k12.ia.us/" title="Cedar Falls Community Schools">Cedar Falls Community Schools</a></li>
  <li>Eason Grant</li>
  <li>Iowa State University College of Engineering</li>
  <li><a href="http://www.cns.uni.edu/" title="UNI College Of Natural Science">UNI College Of Natural Science</a></li>
  <li><a href="http://cosmos.ssol.iastate.edu/isgc/" title="Iowa Space Grant Consortium">Iowa Space Grant Consortium</a></li>
</ul>
<h3>Team Sponsors: Donors of less than $1,000</h3>
<ul>
  <li>Waterloo Technical Society</li>
</ul>
