<h2>US FIRST</h2>
<p>
	US FIRST was founded 16 years ago by Dean Kamen, also known 
	as the inventor of the Segway HT. Dean recognized a growing 
	problem with students - a lack of interest and excitement about 
	science and technology. FIRST was created as an activity that 
	would show high school students that science, math and 
	engineering can be exciting and interesting. The FIRST Robotics 
	Competition started out in 1992 with one small regional competition 
	in New Hampshire, hosting 28 teams. This last year FIRST held 30 
	regional competitions and an international Championship, with nearly 
	1000 teams world-wide, involving nearly 25,000 students.
</p>
<p>
	The FIRST Robotics Competition is the primary event of FIRST. 
	Every year, a new game is created with a new premise and rules. 
	Each team is then given six weeks to design, build and test a robot 
	using a standard kit of parts. Once build season has completed, teams 
	send their robots to regional competitions around the country. These 
	events, which last three days, are very high-energy events, with 
	teams cheering each other on as they work in team alliances to 
	achieve the best possible score.
</p>
<p>
	However, the team's score is not the most important factor in 
	determining the 'winner'. The most prestigious award is the Director's 
	Award. This is given to the team that best represents the ideals of 
	FIRST: Excellence in design, team spirit, gracious professionalism and 
	maturity, and the ability to overcome obstacles. These are the ideals 
	that FIRST bestows upon its participants.
</p>
