<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cedar Falls High School Robotics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="title" content="Cedar Falls High School Robotics" />
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    </head>
    <body style="margin-left:10px;margin-right:10px;margin-top:10px;margin-bottom:10px;">
    <div class="c1">
      <table width="800" align="center" bgcolor="black" border="0">
        <tbody>
          <tr>
            <td>
            <center><img alt="Swart_Dogs_clock.jpg" src="http://fc.cedar-falls.k12.ia.us/~CFHS_robotics/sitepics/Swart_Dogs_clock.jpg" align="top" /></center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><!-- Top Links bar --> 

    <table cellspacing="1" cellpadding="1" width="800" align="center" border="1">
      <tbody>
        <tr>
          <td class="c2" align="center" width="9%"><a href="http://fc.cedar-falls.k12.ia.us/~robotics/">Home</a></td>
          <td class="c2" align="center" width="11%"><a title="Robotics Calendar" href="http://fc.cedar-falls.k12.ia.us/~robotics/calendar">Calendar</a></td>
          <td class="c2" align="center" width="9%"><a title="CFHS Robotics Media Page" href="http://fc.cedar-falls.k12.ia.us/~robotics/pictures">Photos</a></td>
          <td class="c2" align="center" width="13%"><a title="CFHS Robotics Committees" href="http://fc.cedar-falls.k12.ia.us/~robotics/committee">Committees</a></td>
          <td class="c2" align="center" width="11%"><a title="CFHS Robotics Sponsors" href="http://fc.cedar-falls.k12.ia.us/~robotics/Sponsors">Sponsors</a></td>
          <td class="c2" align="center" width="11%"><a title="CFHS Robotics Contacts" href="http://fc.cedar-falls.k12.ia.us/~robotics/First.html">US First</a></td>
          <td class="c2" align="center" width="11%"><a title="CFHS Robotics Contacts" href="http://fc.cedar-falls.k12.ia.us/~robotics/Links.html">Links</a></td>
          <td class="c2" align="center" width="11%"><a title="CFHS Robotics Contacts" href="http://fc.cedar-falls.k12.ia.us/~robotics/Contacts">Contact Us</a></td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
        <table align="center" width="800">
        <tr>
        <td>
        <%= yield %>
        </tr>
        </td>
        </table>
    <br />
    <br />
    <center>
      <table>
        <tr>
          <td><a href="http://www.cedar-falls.k12.ia.us/Buildings/CFHS/cfhigh.html">
           <img src="http://fc.cedar-falls.k12.ia.us/~CFHS_robotics/sitepics/cfhs.jpg" alt="CF High" /></a>
           <a title="US First" href="http://www.usfirst.org/" target="_blank"><img title="About First" height="96" alt="fr_logo.gif" hspace="0" src="http://fc.cedar-falls.k12.ia.us/~CFHS_Robotics/sitepics/fr_logo.gif" width="99" align="bottom" border="0" /></a>
		 </td>
		</tr>
      </table>
    </center>
</body>
</html>
